@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #f2f4f8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;

}

.multilanguage-selection {
  position: absolute;
  top: 15px;
  right: 25px;
}

.multilanguage-selection .multi-language {
  border: none;
  padding: 7px 4px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
}

.multilanguage-selection .multi-language:focus {
  outline: none;
}

.flag {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  font-size: 15px;
}

.currency-box {
  padding: 30px 40px;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  border-radius: 15px;
}

.currency-box h2 {
  text-align: center;
  color: #1f2937;
  font-weight: 800;
  font-size: 28px;
}

.currency-box .enter-amount {
  font-size: 14px;
}

#currency-input {
  width: 100%;
}

input,
.selection {
  border: none;
  padding: 5px 4px;
  border: 2px solid rgb(173, 165, 165);
  border-radius: 5px;
  font-weight: 500;

}

input {
  text-indent: 4px;
}

input:focus {
  outline: none;
}

#calculatebtn {
  cursor: pointer;
  border: none;
  background-color: #2563eb;
  padding: 7px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: all .45s ease;
  outline: 1px solid #2563eb;
}

#calculatebtn:hover {
  color: #2563eb;
  background-color: #fff;
  border: 1px solid #2563eb;
}

.option-box {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

#currency-option1,
#currency-option2 {
  width: 200px;
}

#result {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.reverse-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reverse-box span i{
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 390px) {
  .currency-box {
    padding: 20px;
  }

  .currency-box h2 {
    font-size: 24px;
  }

  .currency-box {
    width: 70%;
  }

  .option-box {
    display: flex;
    flex-direction: column;
  }

  #currency-option1,
  #currency-option2 {
    width: 230px;
  }
}